<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
<title th:text="#{app_name}">Function Name</title>
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/my-custom-theme.css" th:href="@{/css/themes/my-custom-theme.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/jquery.mobile.icons.min.css" th:href="@{/css/themes/jquery.mobile.icons.min.css}" />
<link rel="apple-touch-icon" href="../../static/favicon.png" th:href="@{/favicon.png}" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body th:with="loginuser=${#authentication.principal.user}">
<div data-role="page">

	<!--/* ヘッダー */--> 
	<div th:replace="mobile/X0000_Layout :: menu"></div>
	<div th:replace="mobile/X0000_Layout :: header"></div>
	
	<!--/* Ajax通信用パラメータ */-->
	<input type="hidden" id="userId" th:value="${loginuser.userId}"/>
	
	<!--/* タブメニュー */-->
	<div data-role="header" data-theme="d" class="header">
		<div data-role="navbar" data-iconpos="left">
			<ul id="C0101_tab">
				<li><a href="#C0101_tab1" data-icon="calendar" th:text="#{C0101_tab1_name}" class="ui-nodisc-icon ui-alt-icon d-menu-active">Tab Name</a></li>
				<li><a href="#C0101_tab2" data-icon="search" th:text="#{C0101_tab2_name}" class="ui-nodisc-icon ui-alt-icon">Tab Name</a></li>
			</ul>
		</div>
	</div>

	<!--/* メイン */-->
	<div role="main" class="ui-content">

		<script th:inline="javascript">
		/*<![CDATA[*/
			<!--/* 処理成功ダイアログ */-->
			var success_message = /*[[${success_message}]]*/ 'Success Message';
			if(success_message != null){
				alert(success_message);
			}
			
			<!--/* 確認ダイアログ */-->
			function show_confirm(){
				var message = /*[[#{C0101_confirm_message_delete_event}]]*/ 'Confirm Message';
				return confirm(message);;
			}
			
			<!--/* 管理者用 ボタンの表示・非表示切り替え */-->
			function change_auth_buttons_display (id) {
				if ($("#auth-menu-"+id).css("display") == "none") {
					$("#auth-menu-icon-"+id).text("▲");
					$("#auth-menu-"+id).css("display", "block");
				} else {
					$("#auth-menu-icon-"+id).text("▼");
					$("#auth-menu-"+id).css("display", "none");
				}
			}
			
		/*]]>*/
		</script>
		
		<script src="/js/f_C0101_EntryEvent.js" th:src="@{/js/f_C0101_EntryEvent.js}"></script>
		
		<!--/* タブ */-->
		<div id="C0101_tab_group">
			<!--/* イベント一覧 */-->
			<section id="C0101_tab1">
				
				<!--/* 機能名 */--> 
				<div th:text="#{C0101_tab1_name}" class="content_title">Tab Name</div>
				
				<div class="note">
					<span th:if="${#lists.isEmpty(eventEntryList)}" th:text="#{C0101_note_no_event}">Note</span>
					<span th:unless="${#lists.isEmpty(eventEntryList)}" th:text="#{C0101_note_display_event}">Note</span>
				</div>
				<ul th:each="ee : ${eventEntryList}" th:object="${ee.event}" data-role="listview" data-inset="true" th:attr="data-theme=*{isActiveEvent()}?'a':'c'">
					<li data-role="list-divider">
						<!--/* 管理者用 ヘッダ*/-->
						<span sec:authorize="${hasAuthority('AUTH_EVENT')}">
							<span th:id=" 'auth-menu-icon-' + *{eventId} ">▼</span>
							<a href="#" th:attr="onclick='change_auth_buttons_display(' + *{eventId} + ');'" th:text="*{title}">Event Title</a>
						</span>
						<!--/* 管理者以外用 ヘッダ*/-->
						<span sec:authorize="${!hasAuthority('AUTH_EVENT')}">
							<a th:text="*{title}" th:href="@{'/C0102/select/event/' + *{eventId}}" data-ajax="false">Event Title</a>
						</span>
						<span class="right-justify">
							<img th:if="*{isUkeEnd()}" src="/images/uke_end.gif" height="20" class="label" />
						</span>
					</li>
					<li class="note">
						<!--/* イベント情報*/-->
						<div th:text="#{C0101_event_date(*{#temporals.format(eventDate, 'M/d(E)')}, *{startTime}, *{endTime})}">Event Date</div>
						<div th:text="#{C0101_event_location(*{location.name})}">Location</div>
						
						<!--/* イベント参加情報 */-->
						<div th:object="${ee.entry}">
							<span th:text="#{C0101_entry_info}">Entry Info</span>
							<span th:if="${ee.entry==null}" th:text="#{label_no_answer}" class="label-no-answer">Label</span>
							<th:block th:unless="${ee.entry==null}">
								<span th:if="*{isEntryKubunS() OR isEntryKubunT()}" th:text="#{label_join}" class="label-join">Label</span>
								<span th:if="*{isEntryKubunT()}" th:text="#{label_join_time(*{entryStartTime}, *{entryEndTime})}">Entry Time</span>
								<span th:if="*{isEntryKubunF()}" th:text="#{label_no_join}" class="label-no-join">Label</span>
								<span th:if="*{isEntryKubunK()}" th:text="#{label_thinking}" class="label-thinking">Label</span>
							</th:block>
						</div>
						<!--/* 管理者用 ボタン*/-->
						<div th:id=" 'auth-menu-' + *{eventId} " sec:authorize="${hasAuthority('AUTH_EVENT')}" class="right-align no-disp">
							<hr/>
							<!--/* イベント申込 */-->
							<form th:action="@{'/C0102/select/event/' + *{eventId}}" method="GET" data-ajax="false">
								<button type="submit" name="apply" class="ui-btn ui-btn-g" th:text="#{C0101_button_entry}">Button Name</button>
							</form>
							<!--/* 参加締切 */-->
							<form th:action="@{'/K0102/submit/' + *{eventId}}" th:if="*{isUkeChu()}" method="POST" data-ajax="false">
							 	<button type="submit" name="changeUkeState" class="ui-btn ui-btn-g" th:text="#{C0101_button_uke_end}">Button Name</button>
							</form>
							<form th:action="@{'/K0102/submit/' + *{eventId}}" th:if="*{isUkeEnd()}" method="POST" data-ajax="false">
							 	<button type="submit" name="changeUkeState" class="ui-btn ui-btn-g" th:text="#{C0101_button_uke_prolong}">Button Name</button>
							</form>
							<!--/* 参加費メンバー */-->
							<form th:action="@{'/K0103/select/' + *{eventId}}" method="GET" data-ajax="false">
								<button type="submit" name="calcCharge" class="ui-btn ui-btn-g" th:text="#{C0101_button_member}">Button Name</button>
							</form>
							<!--/* イベント編集 */-->
							<form th:action="@{'/K0101/select/' + *{eventId}}" method="GET" data-ajax="false">
								<button type="submit" name="edit" class="ui-btn ui-btn-g" th:text="#{C0101_button_edit}">Button Name</button>
							</form>
							<!--/* イベント削除 */-->
							<form th:action="@{'/K0102/submit/' + *{eventId}}" method="POST" data-ajax="false">
								<button type="submit" name="delete" class="ui-btn ui-btn-h" onclick="return show_confirm();" th:text="#{C0101_button_delete}">Button Name</button>
							</form>
						</div>
					</li>
				</ul>
			</section>
			
			<!--/* 過去のイベント */-->
			<section id="C0101_tab2">
				<form th:object="${C0101_EntryEventForm}">
				
					<!--/* 機能名 */-->
					<div th:text="#{C0101_tab2_name}" class="content_title">Tab Name</div>
					
					<div class="note" th:text="#{C0101_note_search_condition}">Note</div>
					<select id="searchTarget" name="searchTarget">
						<option th:each="searchTarget_i : ${seachTargetList}" 
								th:text="${searchTarget_i}" 
								th:value="${searchTarget_i}" 
								th:selected="${searchTarget_i}==*{searchTarget}" 
								th:inline="text">Search Target List</option>
					</select>
				</form>
				<div id="C0101_resultBox">
					<div th:substituteby="mobile/X0000_Layout::C0101_searchList" th:fragment="C0101_searchResult"></div>
				</div>				
			</section>
		</div>
		
	</div>
</div>

</body>
</html>