<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
<title th:text="#{app_name}">Function Name</title>
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/my-custom-theme.css" th:href="@{/css/themes/my-custom-theme.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/jquery.mobile.icons.min.css" th:href="@{/css/themes/jquery.mobile.icons.min.css}" />
<link rel="apple-touch-icon" href="../../static/favicon.png" th:href="@{/favicon.png}" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body th:with="loginuser=${#authentication.principal.user}">
<div data-role="page">

	<!--/* ヘッダー */--> 
	<div th:replace="mobile/X0000_Layout :: menu"></div>
	<div th:replace="mobile/X0000_Layout :: header"></div>

	<!--/* メイン */-->
	<div role="main" class="ui-content">
		<h3 th:text="#{C0902_func_name}" class="title">Function Name</h3>

		<script th:inline="javascript">
		/*<![CDATA[*/
			<!--/* 処理成功ダイアログ */-->
			var success_message = /*[[${success_message}]]*/ 'Success Message';
			if(success_message != null){
				alert(success_message);
			}
		/*]]>*/
		</script>
		
		<!--/* エラーメッセージ */-->
 		<div th:text="${top_error}" class="top_error">Error Message</div>
		
		<!--/* 現在の画像を表示 */-->
		<div align="center">
			<img th:src="@{'data:image/JPEG;base64,' + ${loginuser.member.base64Image}}" class="member-icon"/>
		</div>
		
		<!--/* アップロード画像 */-->
		<canvas id="canvas" hidden="hidden" width="200" height="200"></canvas>
		<img id="upload_original" hidden="hidden" />
		
		<!--/* 入力フィールド（Ajaxで通信する） */-->
		<div class="content_s">
			<div th:text="#{C0902_label_new_icon}" class="content_title">Label</div>
			<div th:text="#{C0902_note_new_icon}" class="note">Note</div>
			<input type="file" id="uploadFile" name="uploadFile" />
		</div>
		<button type="submit" id="upload" name="upload" disabled="disabled" class="ui-btn ui-btn-g submit-btn" th:text="#{button_update}">Button Name</button>
	
		<!--/* JS読み込み */-->
		<script src="/js/f_C0902_ChangeIcon.js" th:src="@{/js/f_C0902_ChangeIcon.js}"></script>
		
		<!--/* CSRFトークン */-->
		<input id="_csrf" name="_csrf" type="hidden" th:value="${_csrf.token}" />
		
	</div>
</div>
</body>
</html>