<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
<title th:text="#{app_name}">Function Name</title>
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/my-custom-theme.css" th:href="@{/css/themes/my-custom-theme.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/jquery.mobile.icons.min.css" th:href="@{/css/themes/jquery.mobile.icons.min.css}" />
<link rel="apple-touch-icon" href="../../static/favicon.png" th:href="@{/favicon.png}" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body th:with="loginuser=${#authentication.principal.user}">
<div data-role="page">

	<!--/* ヘッダー */--> 
	<div th:replace="mobile/X0000_Layout :: menu"></div>
	<div th:replace="mobile/X0000_Layout :: header"></div>

	<!--/* メイン */-->
	<div role="main" class="ui-content">
		<h3 th:text="#{C0901_func_name}" class="title">Function Name</h3>

		
		<script th:inline="javascript">
		/*<![CDATA[*/
			<!--/* 処理成功ダイアログ */-->
			var success_message = /*[[${success_message}]]*/ 'Success Message';
			if(success_message != null){
				alert(success_message);
			}
		/*]]>*/
		</script>
		
		<!--/* エラーメッセージ */-->
 		<div th:text="${top_error}" class="top_error">Error Message</div>

		<form th:object="${C0901_ChangePWForm}" th:action="@{/C0901/submit}" method="POST" data-ajax="false">
			<div class="content_s">
				<div th:text="#{C0901_label_current_password}" class="content_title hissu">Label</div>
				<div th:text="#{C0901_note_current_password}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('currentPW')}" th:errors="*{currentPW}" class="error">Error Message</span>
				<input type="password" th:field="*{currentPW}" maxlength="10"  data-clear-btn="true" data-corners="false"/>
			</div>
			<div class="content_s">
				<div th:text="#{C0901_label_new_password1}" class="content_title hissu">Label</div>
				<div th:text="#{C0901_note_new_password1}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('newPW1')}" th:errors="*{newPW1}" class="error">Error Message</span>
				<input type="password" th:field="*{newPW1}" maxlength="10"  data-clear-btn="true" data-corners="false"/>
			</div>
			<div class="content_s">
				<div th:text="#{C0901_label_new_password2}" class="content_title hissu">Label</div>
				<div th:text="#{C0901_note_new_password2}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('newPW2')}" th:errors="*{newPW2}" class="error">Error Message</span>
				<input type="password" th:field="*{newPW2}" maxlength="10"  data-clear-btn="true" data-corners="false"/>
			</div>
			<button type="submit" name="update" class="ui-btn ui-btn-g submit-btn" th:text="#{button_update}">Button Name</button>
		</form>
	</div>
	
</div>
</body>
</html>