<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
<title th:text="#{app_name}">Function Name</title>
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/my-custom-theme.css" th:href="@{/css/themes/my-custom-theme.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/jquery.mobile.icons.min.css" th:href="@{/css/themes/jquery.mobile.icons.min.css}" />
<link rel="apple-touch-icon" href="../../static/favicon.png" th:href="@{/favicon.png}" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body th:with="loginuser=${#authentication.principal.user}">
<div data-role="page">

	<!--/* ヘッダー */--> 
	<div th:replace="mobile/X0000_Layout :: menu"></div>
	<div th:replace="mobile/X0000_Layout :: header"></div>

	<!--/* メイン */-->
	<div role="main" class="ui-content">
		
		<!--/* 機能名 */-->
		<h3 th:text="#{M0104_func_name_N}" class="title">Function Name</h3>
			
		<script th:inline="javascript">
		/*<![CDATA[*/
			<!--/* 処理成功ダイアログ */-->
			var success_message = /*[[${success_message}]]*/ 'Success Message';
			if(success_message != null){
				alert(success_message);
			}
		/*]]>*/
		</script>
		
		<!--/* エラーメッセージ */-->
 		<div th:text="${top_error}" class="top_error">Error Message</div>

		<form th:object="${M0104_MemberMngForm}" th:action="@{'/M0104/submit/' + ${memberId} }" method="POST" data-ajax="false">
			<div class="content_s">
				<div th:text="#{M0104_label_userid}" class="content_title hissu">Label</div>
				<div th:text="#{M0104_note_userid}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="error">Error Message</span>
				<input type="text" th:field="*{userId}" maxlength="10" data-clear-btn="true" data-corners="false" th:disabled="${member.user}!=null"/>
			</div>
			<div class="content_s">
				<th:block th:if="${member.user}==null">
					<div th:text="#{M0104_label_password}" class="content_title hissu">Label</div>
					<div th:text="#{M0104_note_password_new}" class="note">Note</div>
				</th:block>
				<th:block th:unless="${member.user}==null">
					<div th:text="#{M0104_label_password}" class="content_title ninni">Label</div>
					<div th:text="#{M0104_note_password_update}" class="note">Note</div>
				</th:block>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Error Message</span>
				<input type="text" th:field="*{password}" maxlength="10" data-clear-btn="true" data-corners="false"/>
			</div>
			<div class="content_s">
				<div th:text="#{M0104_label_role}" class="content_title hissu">Label</div>
				<div th:text="#{M0104_note_role}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error">Error Message</span>
				<div class="select-field">
					<select id="role" name="role">
						<option th:each="role_i : ${role_list}" 
								th:text="${role_i}" 
								th:value="${role_i}" 
								th:selected="${role_i}==*{role}" 
								th:inline="text">Role List</option>
					</select>
				</div>
			</div>
			
			<!--/* 新規登録時 */-->
			<th:block th:if="${member.user}==null">
				<button type="submit" name="register" class="ui-btn ui-btn-g submit-btn" th:text="#{button_register}">Button Name</button>
			</th:block>
			<!--/* 更新時 */-->
			<th:block th:unless="${member.user}==null">
				<div><button type="submit" name="update" class="ui-btn ui-btn-g submit-btn" th:text="#{button_update}">Button Name</button></div>
			</th:block>
			
		</form>
 
	</div>
	
</div>
</body>
</html>