<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
<title th:text="#{app_name}">Function Name</title>
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/my-custom-theme.css" th:href="@{/css/themes/my-custom-theme.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/jquery.mobile.icons.min.css" th:href="@{/css/themes/jquery.mobile.icons.min.css}" />
<link rel="apple-touch-icon" href="../../static/favicon.png" th:href="@{/favicon.png}" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body th:with="loginuser=${#authentication.principal.user}">
<div data-role="page">

	<!--/* ヘッダー */--> 
	<div th:replace="mobile/X0000_Layout :: menu"></div>
	<div th:replace="mobile/X0000_Layout :: header"></div>
	
	<!--/* メイン */-->
	<div role="main" class="ui-content">
		
		<!--/* 機能名 */-->
		<h3 th:text="${locationId==0} ? #{M0302_func_name_N} : #{M0302_func_name_U}" class="title">Function Name</h3>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
			<!--/* 処理成功ダイアログ */-->
			function show_confirm(){
				var message = /*[[#{M0302_confirm_message_delete_location}]]*/ 'Confirm Message';
				return confirm(message);;
			}
		/*]]>*/
		</script>
		
		<!--/* エラーメッセージ */-->
 		<div th:text="${top_error}" class="top_error">Error Message</div>

		<form th:object="${M0302_LocationMngForm}" th:action="@{'/M0302/submit/' + ${locationId} }" method="POST" data-ajax="false">
			<div class="content_s">
				<div th:text="#{M0302_label_name}" class="content_title hissu">Label</div>
				<div th:text="#{M0302_note_name}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Error Message</span>
				<input type="text" th:field="*{name}" maxlength="15"  data-clear-btn="true" data-corners="false"/>
			</div>
			<div class="content_s">
				<div th:text="#{M0302_label_kubun}" class="content_title hissu">Label</div>
				<div th:text="#{M0302_note_kubun}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('kubun')}" th:errors="*{kubun}" class="error">Error Message</span>
				<div class="select-field">
					<select id="kubun" name="kubun">
						<option th:each="kubun_i : ${kubun_list}" 
								th:text="${kubun_i}" 
								th:value="${kubun_i}" 
								th:selected="${kubun_i}==*{kubun}" 
								th:inline="text">Kubun List</option>
					</select>
				</div>
			</div>
			<div class="content_s">
				<div th:text="#{M0302_label_access}" class="content_title ninni">Label</div>
				<div th:text="#{M0302_note_access}" class="note">Note</div>
				<span th:if="${#fields.hasErrors('access')}" th:errors="*{access}" class="error">Error Message</span>
				<textarea th:field="*{access}" rows="3" data-role="none"></textarea>
			</div>

			<!--/* 新規作成時 */-->
			<th:block th:if="${locationId}==0">
				<button type="submit" name="register" class="ui-btn ui-btn-g submit-btn" th:text="#{button_register}">Button Name</button>
			</th:block>
			<!--/* 更新時 */-->
			<th:block th:unless="${locationId}==0">
				<div><button type="submit" name="update" class="ui-btn ui-btn-g submit-btn" th:text="#{button_update}">Button Name</button></div>
				<div><button type="submit" name="delete" class="ui-btn ui-btn-h submit-btn" th:text="#{button_delete}" onclick="return show_confirm();">Button Name</button></div>				
			</th:block>
		</form>
		
	</div>

</div>
</body>
</html>