<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<!--/* head（共通） */-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
<title th:text="#{app_name}">Function Name</title>
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/my-custom-theme.css" th:href="@{/css/themes/my-custom-theme.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/themes/jquery.mobile.icons.min.css" th:href="@{/css/themes/jquery.mobile.icons.min.css}" />
<link rel="apple-touch-icon" href="../../static/favicon.png" th:href="@{/favicon.png}" />
<link rel="stylesheet" type="text/css" href="../../static/css/toastr.min.css" th:href="@{/css/toastr.min.css}"/>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/toastr.min.js" th:href="@{/js/toastr.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		toastr.options = {
			"positionClass": "toast-top-center",
			"timeOut": "2000"
		}
	});
</script>
</head>

<body>

	<!--/* メニュー（共通） */-->
	<div th:fragment="menu" data-role="panel" id="menu-right" data-position="right">
		<div class="menu">
			<img th:src="@{'data:image/JPEG;base64,' + ${loginuser.member.base64Image}}" class="member-icon-list"/>
			<span th:text="${loginuser.member.name}" class="menu-username">Member Name</span>
		</div>
		<ul data-role="listview">
			<!--/* 共通メニュー */-->
			<li th:text="#{C0100_func_name}" data-role="list-divider" data-theme="b">Menu Group</li>
			<li><a href="/C0101" th:text="#{menu_back_to_top}" data-ajax="false">Function Name</a></li>
			<!--/* イベント管理者メニュー */-->
			<li sec:authorize="${hasAuthority('AUTH_EVENT')}" data-role="list-divider" data-theme="b" th:text="#{K0100_func_name}">Menu Group</li>
			<li sec:authorize="${hasAuthority('AUTH_EVENT')}"><a href="/K0101" th:text="#{K0101_func_name_N}" data-ajax="false">Function Name</a></li>
			<!--/* メンバー管理メニュー */-->
			<li sec:authorize="${hasAuthority('AUTH_MEMBER')}" data-role="list-divider" data-theme="b" th:text="#{M0100_func_name}">Menu Group</li>
			<li sec:authorize="${hasAuthority('AUTH_MEMBER')}"><a href="/M0101" th:text="#{M0101_func_name}" data-ajax="false">Function Name</a></li>
			<li sec:authorize="${hasAuthority('AUTH_MEMBER')}"><a href="/M0102" th:text="#{M0102_func_name_N}" data-ajax="false">Function Name</a></li>
			<!--/* 場所管理メニュー */-->
			<li sec:authorize="${hasAuthority('AUTH_LOCATION')}" data-role="list-divider" data-theme="b" th:text="#{M0300_func_name}">Menu Group</li>
			<li sec:authorize="${hasAuthority('AUTH_LOCATION')}"><a href="/M0301" th:text="#{M0301_func_name}" data-ajax="false">Function Name</a></li>
			<li sec:authorize="${hasAuthority('AUTH_LOCATION')}"><a href="/M0302" th:text="#{M0302_func_name_N}" data-ajax="false">Function Name</a></li>
			<!--/* 参加費管理メニュー */-->
			<li sec:authorize="${hasAuthority('AUTH_CHARGE')}" data-role="list-divider" data-theme="b" th:text="#{M0500_func_name}">Menu Group</li>	
			<li sec:authorize="${hasAuthority('AUTH_CHARGE')}"><a href="/M0501" th:text="#{M0501_func_name}" data-ajax="false">Function Name</a></li>
			<!--/* 個人メニュー */-->
			<li th:text="#{C0900_func_name}" data-role="list-divider" data-theme="b">Menu Group</li>
			<li><a href="/C0901" th:text="#{C0901_func_name}" data-ajax="false">Function Name</a></li>
			<li><a href="/C0902" th:text="#{C0902_func_name}" data-ajax="false">Function Name</a></li>
			<li class="menu-item">
				<form th:action="@{/logout}" method="POST">
					<button class="logout-btn ui-btn ui-btn-c" th:text="#{button_logout}">Button Name</button>
				</form>
			</li>
		</ul>
	</div>

	<!--/* ヘッダー（共通） */-->
	<div th:fragment="header" data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false" class="header">
		<h1><a href="/C0101" th:text="#{app_name}" data-ajax="false" class="system-name">Application Name</a></h1>
		<a href="#menu-right" class="ui-btn ui-btn-right ui-icon-bars ui-btn-icon-notext ui-corner-all">MENU</a>
	</div>

	<!--/* C0101 検索結果 */-->
	<ul th:fragment="C0101_searchList" th:each="ee : ${searchList}" th:object="${ee.event}" data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow ui-group-theme-c">
		<li data-role="list-divider" class="ui-li-divider ui-bar-c ui-first-child">
			<!--/* 管理者用 ヘッダ*/-->
			<span sec:authorize="${hasAuthority('AUTH_EVENT')}">
				<a href="#" th:attr="onclick='change_auth_buttons_display(' + *{eventId} + ');'" th:text="*{title}">Event Title</a>
			</span>
			<!--/* 管理者以外用 ヘッダ*/-->
			<span sec:authorize="${!hasAuthority('AUTH_EVENT')}">
				<a th:text="*{title}" th:href="@{'/C0102/select/event/' + *{eventId} }" data-ajax="false">Event Title</a>
			</span>
			<span class="right-justify">
				<img th:if="*{isUkeEnd()}" src="/images/uke_end.gif" height="20" class="label" />
			</span>
		</li>
		<li class="note ui-li-static ui-body-inherit ui-last-child">
			<!--/* イベント情報*/-->
			<div th:text="#{C0101_event_date(*{#temporals.format(eventDate, 'M/d(E)')}, *{startTime}, *{endTime})}">Event Date</div>
			<div th:text="#{C0101_event_location(*{location.name})}">Location</div>
			
			<!--/* イベント参加情報 */-->
			<div th:object="${ee.entry}">
				<span th:text="#{C0101_entry_info}">Entry Info</span>
				<span th:if="${ee.entry==null}" th:text="#{label_no_answer}" class="label-no-answer">Label</span>
				<th:block th:unless="${ee.entry==null}">
					<span th:if="*{isEntryKubunS()} OR *{isEntryKubunT()}" th:text="#{label_join}" class="label-join">Label</span>
					<span th:if="*{isEntryKubunT()}" th:text="#{label_join_time(*{entryStartTime}, *{entryEndTime})}">Entry Time</span>
					<span th:if="*{isEntryKubunF()}" th:text="#{label_no_join}" class="label-no-join">Label</span>
					<span th:if="*{isEntryKubunK()}" th:text="#{label_thinking}" class="label-thinking">Label</span>
				</th:block>
			</div>
			<div th:text="#{C0102_entry_fee(${ee.entry.entryFee})}" th:if="${ee.entry!=null} AND ${ee.entry.isDispEntryFee()}">Entry Fee</div>
			
			<!--/* 管理者用 ボタン*/-->
			<div th:id=" 'auth-menu-' + *{eventId} " sec:authorize="${hasAuthority('AUTH_EVENT')}" class="right-align no-disp">
				<hr/>
				<!--/* イベント申込 */-->
				<form th:action="@{'/C0102/select/event/' + *{eventId}}" method="GET" data-ajax="false">
					<button type="submit" name="entry" class="ui-btn ui-btn-g" th:text="#{C0101_button_entry}">Button Name</button>
				</form>
				<!--/* 参加締切 */-->
				<form th:action="@{'/K0102/submit/' + *{eventId}}" th:if="*{isUkeChu()}" method="POST" data-ajax="false">
				 	<button type="submit" name="changeUkeState" class="ui-btn ui-btn-g" th:text="#{C0101_button_uke_end}">Button Name</button>
				</form>
				<form th:action="@{'/K0102/submit/' + *{eventId}}" th:if="*{isUkeEnd()}" method="POST" data-ajax="false">
				 	<button type="submit" name="changeUkeState" class="ui-btn ui-btn-g" th:text="#{C0101_button_uke_prolong}">Button Name</button>
				</form>
				<!--/* 参加メンバー */-->
				<form th:action="@{'/K0103/select/' + *{eventId}}" method="GET" data-ajax="false">
					<button type="submit" name="calcCharge" class="ui-btn ui-btn-g" th:text="#{C0101_button_member}">Button Name</button>
				</form>
				<!--/* イベント編集 */-->
				<form th:action="@{'/K0101/select/' + *{eventId}}" method="GET" data-ajax="false">
					<button type="submit" name="edit" class="ui-btn ui-btn-g" th:text="#{C0101_button_edit}">Button Name</button>
				</form>
				<!--/* イベント削除 */-->
				<form th:action="@{'/K0102/submit/' + *{eventId}}" method="POST" data-ajax="false">
					<button type="submit" name="delete" class="ui-btn ui-btn-h" onclick="return show_confirm();" th:text="#{C0101_button_delete}">Button Name</button>
				</form>
			</div>
		</li>
	</ul>

</body>
</html>